@font-face {
    font-family: "Montserrat";
    /* Придумайте название для шрифта */
    src: local("Montserrat-Regular"),
        url("/font/Montserrat-Regular.woff2") format("woff2"),
        /* Самые современные браузеры */
        url("/font/Montserrat-Regular.woff") format('woff');
    /* Современные браузеры */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    /* Придумайте название для шрифта */
    src: local("Montserrat-Medium"),
        url("/font/Montserrat-Medium.woff2") format("woff2"),
        /* Самые современные браузеры */
        url("/font/Montserrat-Medium.woff") format('woff');
    /* Современные браузеры */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    /* Придумайте название для шрифта */
    src: local("Montserrat-SemiBold"),
        url("/font/Montserrat-SemiBold.woff2") format("woff2"),
        /* Самые современные браузеры */
        url("/font/Montserrat-SemiBold.woff") format('woff');
    /* Современные браузеры */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    /* Придумайте название для шрифта */
    src: local("Montserrat-Bold"),
        url("/font/Montserrat-Bold.woff2") format("woff2"),
        /* Самые современные браузеры */
        url("/font/Montserrat-Bold.woff") format('woff');
    /* Современные браузеры */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus-visible {
    outline: 0;
}

a:active,
a:focus {
    outline: none;
}



.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    min-width: 320px;
    background-color: #FFFFFF;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;



}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;

}



.footer {
    padding-top: 48px;
    padding-bottom: 50px;
}

.answer {
    padding-top: 50px;
    padding-bottom: 94px;
}

.stage {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero {
    padding-bottom: 50px;
    display: none;
}

:root {
    --width-plus: calc(60% + 1px);
}







/*****header*****/
@media (min-width: 1280px) {

    .header__link:hover:not(:focus-visible) {
        color: #FF9900;
    }

    .header__link:hover:not(:focus-visible):before {
        opacity: 1;
        transform: scale(1);
    }

    .header__search:hover path {
        stroke: #FF9900;

    }

    .header__search:hover rect {

        fill: #FF9900;
    }

    https: //servicedesk.service-online.live/payment-invoice/2360097?show_disabled=on

    /***hero***/

    .btn--effects:hover {
        background-color: #FF9900B2;
    }

    .stage__button-link:hover {
        background: #FF9900;

    }

    .stage-swiper-bullet:hover:not(:focus-visible) {
        color: #FF9900;
    }

    .stage-swiper-bullet:hover:not(:focus-visible):before {
        opacity: 1;
        transform: scale(1);
    }

    .stage__button-link-document:hover {
        background-color: #666666;
        color: #CACACA;

    }

    .footer__link:hover:not(:focus-visible):before {
        opacity: 1;
        transform: scale(1);
    }



}

/*****header*****/



.header__container {
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;

}

.header__nav-list {
    display: flex;



}

.header__list {
    display: flex;
}


.header__item {
    display: flex;
    margin-right: 85px;
}


.form-btn__submit {
    margin-right: 20px;
    border: none;
    background: none;
}


.form-btn__open {
    transition: opacity .3s ease-in-out;
}


.form-btn__open.active {
    opacity: 0;
}


.form__button-search {
    background: none;
    border: none;
    padding: 0;
}


.form__button-search:focus-visible {
    outline: 2px solid #CC9933;
    outline-offset: 3px;
    transition: 1s ease-in-out;
}


.header__search-icon:focus {
    outline: none;
}


.form {
    display: flex;
    align-items: center;
    border: 2px solid grey;
    padding: 12px 20px;
    max-width: 352px;
    width: 100vh;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    top: 2%;
    transform: translateY(-250%);
    right: 20px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s,
        visibility .3s ease-in-out .2s;
    margin-right: 20px;
}


.form__input {
    flex: 1;
    padding: 5px;
    margin: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    margin-right: 20px;
}


input {
    border: 0;
    background-color: lightgrey;
}

.form__input:focus-visible {
    outline: 0;
    opacity: 0.8;
}


.flex {
    display: flex;
}


.form__active {
    transform: translateX(-4%);
    opacity: 1;
    visibility: visible;
}


.form-close {
    padding: 0;
    border: none;
    background: none;
}


.nav__close {
    display: none;
}


.header__btn-open {
    display: none;
}


.header__logo {
    margin-right: auto;
}


.header__link {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition-property: color, outline-color;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    background: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.header__link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: #FF9900;
    opacity: 0;
    transform: scale(0);
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}


.header__link:active:not(:focus-visible) {
    color: #E1670E;
}


.header__link:active:not(:focus-visible):before {
    background-color: #FF9900;
}


.header__link:focus-visible {
    outline-color: #FF9900;
}


.header__search path,
.header__search rect {
    transition: .6s ease-in-out;
    cursor: pointer;
}


/*****hero*****/
.main__hero {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 103px 80px;
}


.swiper.hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}


.hero__pagination.swiper-bullet-pagination {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.main__title-hero {
    font-size: 71px;
    max-width: 837px;
    margin-bottom: 27px;
    color: #FFFFFF;
    font-weight: 800;
}


.main__descr-hero {
    font-size: 24px;
    max-width: 790px;
    margin-bottom: 94px;
    color: #FFFFFF;
    font-weight: 700;
}


.main__button-button {
    background-color: #FF9900;
    padding: 24px 37px;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
}


.btn--effects {
    position: relative;
    border: 2px solid transparent;
    transition-property: background-color, border-color;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}


.btn--effects:active {
    border-color: #FF9900;
    background-color: #E1670E;
}


.btn--effects:before {
    content: "";
    position: absolute;
    left: -4px;
    right: -5px;
    bottom: -4px;
    top: -5px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


.btn--effects:focus-visible:before {
    opacity: 1;
}


.image__one {
    background-image: url(/img/low-angle-photo-of-balconies-2462015\ 1.png);
    background-size: cover;
    background-position: center;
}


.image__two {
    background-image: url(/img/brown-and-blue-glass-building-2093076\ 2.png);
    background-size: cover;
    background-position: center;
}


.image__three {
    background-image: url(/img/pic_2.png);
    background-size: cover;
    background-position: center;
}


/*****about-us*****/
.container__about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 622px;
    gap: 32px;
}


.about__image1 {
    background-image: url(/img/Frame\ 16.svg);
    background-position: left 11% center;
    background-repeat: no-repeat;
    background-size: 20%;
}


.about__image2 {
    background-image: url(/img/Frame\ 12.svg);
    background-position: left 11% center;
    background-repeat: no-repeat;
    background-size: 20%;
}


.about__block {
    flex: 1 1 calc((100% - 32px) / 2);
}


.title__about-us {
    margin-bottom: 20px;
}


.title__offset {
    color: #333333;
    font-weight: 400;
    font-size: 48px;
}


.about__descr-us {
    max-width: 1235px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 55px;
}


.image {
    display: flex;
    background-image: url(/img/Rectangle\ 2.png);
    background-size: cover;
    background-position: center;
    min-width: 650px;
}


.about__bottom {
    display: flex;
    padding: 51px 50px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}


.container__block:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}


.about__block-bottom {
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-in-out;
    width: 100%;
}


.about__descr-bottom {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: #FFFFFF;
    max-width: 454px;
    margin: 0;
    margin-right: auto;
}


.about__button-block {
    display: flex;
    align-items: center;
}


.about__link-button {
    display: flex;
    align-items: center;
    border: 3px solid #FF9900;
    padding: 20px 38px;
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.6s ease-in-out;
}


.about__link-button:hover {
    background-color: #FF9900;
    color: #CACACA;
}


.about__link-button:focus-visible {
    background-color: #FF9900;
    color: #CACACA;
}


.about__link-bottom:active {
    background: #E1670E;
}


.about__button-button {
    display: flex;
    align-items: center;
}


.container__block-right {
    display: flex;
    flex-direction: column;
}


.about__list {
    display: flex;
    flex-direction: column;
}


.about__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #CACACA;
    padding: 57px 109px 54px 34%;
}


.about__item:not(:last-child) {
    margin-bottom: 32px;
}


.about__icon {
    display: flex;
    margin-right: 22px;
}


.about__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 4px;
}


.about__descr-block {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
    margin: 0;

}


/*****stage*****/


.stage-swiper-bullet:active:not(:focus-visible) {
    color: #E1670E;
}

.stage__title {
    margin-bottom: 53px;
}


.stage__title-consultation {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
}


.stage-swiper-bullet:not(:last-child) {
    margin-right: 81px;
}


.stage__swiper {
    display: flex;
    margin-bottom: 51px;
}


.stage__block-consultation {
    position: relative;

}


.stage__block-consultation-position {
    width: 43%;
    display: none;
}


.tabs-item--active {
    display: block;
}


.stage__block-consultation-position::before {
    content: "";
    position: absolute;
    width: 49%;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: url("/img/Rectangle\ 18.svg");
    background-size: cover;
    background-position: center;
}


.stage__block-consultation-position[data-target="one"]::before {
    background: url(/img/Rectangle\ 18.svg) no-repeat;
    background-size: cover;
    background-position: center;
}


.stage__block-consultation-position[data-target="two"]::before {
    background: url(/img/two\ 18.svg) no-repeat;
    background-size: cover;
    background-position: center;
}


.stage__block-consultation-position[data-target="three"]::before {
    background: url(/img/three\ 19.svg) no-repeat;
    background-size: cover;
    background-position: center;
}


.stage__block-consultation-position[data-target="thour"]::before {
    background: url(/img/thour\ 20.svg) no-repeat;
    background-size: cover;
    background-position: center;
}


.main__hero .swiper-bullet-pagination.hero__pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}


.main__hero .swiper-bullet-pagination.hero__pagination .swiper-pagination-bullet:focus-visible {
    border: 1px solid orange;
    border-radius: 50px;
}


@media (max-width: 1200px) {
    .stage__block-consultation * {
        width: 100%;
    }


    .stage__block-consultation::before {
        width: 47%;
        min-height: 99%;
        bottom: auto;
    }


    .stage__block-consultation-position {
        display: inline;
    }
}


.tabs-nav__btn {
    transition: 0.5s ease-in-out;
}


.tabs-nav__btn:hover {
    color: #FF9900;
}


.tabs-nav__btn:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}


.title__swiper {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin-bottom: 8px;
}


.stage__descr-consultation {
    max-width: 758px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 53px;
}


.stage__button-link-consultation {
    display: inline-block;
    outline: 1px solid #FF9900;
    padding: 17px 37px;
    color: #FFFFFF;
    background-color: #FF9900;
    margin-right: 32px;
    transition: 0.8s ease-in-out;
    width: auto;
}


.stage__button-link-consultation:focus-visible {
    background: #F7B045;
}


.stage__button-link-document {
    position: relative;
    display: inline-block;
    outline: 1px solid #333333;
    padding: 19px 36px;
    color: #333333;
    transition: 0.8s ease-in-out;
    width: auto;
}


.stage__button-link-document:focus-visible {
    background-color: #666666;
    color: #CACACA;
}


.stage__button-link-document:active {
    color: white;
    background-color: #000000;
}


.stage__button-link-document::before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -2px;
    outline-offset: 2px;
    opacity: 0;
    transition: 0.8s ease-in-out;
}


.stage__button-link-document:focus-visible::before {
    opacity: 1;
}


/*****section_answer*****/
.answer__title {
    margin-bottom: 46px;
}


.accordion__item {
    cursor: pointer;
}


.accordion__top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    margin-top: -2px;
    transition: border-color .2s ease-in-out;
    cursor: pointer;
}


.accordion__btn {
    border: none;
    border-radius: 50px;
    background-color: transparent;
}


.accordion__top h3 {
    transition: color .2s ease-in-out;
    margin-bottom: 0;
}


.accordion__item:active .accordion__btn svg {
    transform: rotate(45deg);
    border: none;
    transition: .2s ease-in-out;
}


.accordion__top:hover,
.accordion__top:focus-within {
    border-color: orange;
    position: relative;
    z-index: 1;
}


.accordion__top:hover path {
    fill: #CACACA;
}


.accordion__btn:focus-visible path {
    fill: #CACACA;
}


.accordion__top:hover h3,
.accordion__top:focus-within h3 {
    color: orange;
}


.accordion__top:focus-within {
    outline: 0;
}


.accordion__item.is-active .accordion__btn {
    transform: rotate(45deg);
}


.accordion__item.is-active .accordion__top h3 {
    color: orange;
}


.accordion__item.is-active .accordion__top+.accordion__bottom {
    border-bottom: 1px solid orange;
    position: relative;
    z-index: 2;
}


.accordion__item.ac {
    margin: 0;
    border: none;
}


.accordion__desc-top {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 49px;
    width: 44%;
}


.accordion__desc-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    width: 44%;
}


.accordion__bottom {
    line-height: 2;
}


.accordion__top:focus-visible {
    outline: 0;
}


.accordion__btn svg ellipse {
    transition: fill 0.8s ease-in-out;
}


.accordion__btn:focus-visible svg ellipse {
    fill: #FF9900;
    transition: 0.8s ease-in-out;
}


.accordion__top:active svg {
    transform: rotate(45deg);
}


.accordion__top svg {
    transition: transform .3s ease-in-out;
}


.accordion__top:hover svg ellipse {
    fill: #FF9900;
}


/*****Container_contacts*****/
.footer {
    background: #222222;
}


.container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container__footer-left {
    width: 21%;
}


.footer__list {
    margin-bottom: 90px;
}


.footer__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition-property: color, outline-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}


.footer__link::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 2px;
    background-color: #FF9900;
    opacity: 0;
    transform: scale(0);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}


.footer__link:active:not(:focus-visible) {
    color: #E1670E;
}


.footer__link:active:not(:focus-visible):before {
    background-color: #E1670E;
}


.footer__link:focus-visible {
    outline-color: #FF9900;
}


.footer__logo {
    margin-bottom: 20px;
}


.footer__list-icon {
    display: flex;
}


.footer__item-icon:not(:last-child) {
    margin-right: 25px;
}


.container__footer-middle {
    width: 33%;
}


.footer__title {
    color: #CACACA;
    margin: 0;
    margin-bottom: 19px;
    font-size: 48px;
    font-weight: 400;
}


.footer__form {
    display: flex;
    flex-direction: column;
}


.field {
    padding: 21px 0 20px 24px;
    background: #414141;
    width: 100%;
    color: #CACACA;
    transition: 0.8s ease-in-out;
    margin-bottom: 26px;
    border: none;
}


.field:hover {
    background: #666666;
    color: #CACACA;
}


::placeholder {
    color: #CACACA;
}


.footer__send:hover {
    background: #666666;
    color: #FFFFFF;

}


.footer__checkbox {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 3px;
}


.footer__form-button {
    display: flex;
    align-items: center;
    color: #CACACA;
}


.footer__button {
    white-space: nowrap;
    border: 1px solid #FF9900;
    padding: 19px 37px;
    background-color: #FF9900;
    font-size: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin-right: 22px;
    cursor: pointer;
}


.footer__send {
    min-height: 130px;
    background-color: #414141;
    padding-top: 14px;
    padding-left: 24px;
    width: 100%;
    transition: 0.8s ease-in-out;
    resize: none;
    border: none;
}


.footer__right-container {
    width: 20%;
}


.footer__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}


.footer__form-textarea {
    margin-bottom: 26px;
    resize: none;
}


.footer__link-social path {
    transition-property: fill, transform;
    transition: 0.8s ease-in-out;
}


.footer__link-social:focus-visible path,
.footer__link-social:hover path {
    fill: #FF9900;
}


.footer__link-social:active path {
    fill: orange;
    opacity: 0.4;
}